@font-face {
  font-family: "mawn";
  src:
    url("../public/fonts/mawn/MAWNS' Graffiti Filled.ttf") format("truetype"),
    url("../public/fonts/mawn/MAWNSGraffiti.woff2") format("woff2"),
    url("../public/fonts/mawn/MAWNSGraffiti.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "bubblegum";
  src: url("../public/fonts/bubblegum/BubblegumSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: "maamli";
  src: url("../public/fonts/maamli/GaMaamli-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
